<br />
<h1>Busca</h1>

<form>
    <table>
        <tr>
            <td>Nome</td>
            <td><input type="text" name="nome" id="nome" value="<?php echo $this->nome; ?>" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Buscar" /></td>
        </tr>
    </table>
</form>

<?php if($this->paginator) : ?>
    <?php foreach($this->paginator as $produto) : ?>
        <div>
            <h3><?php echo $produto->getNome();?></h3>
            <p>Preço: <?php echo $produto->getPreco();?></p>
            <p>Descrição: <?php echo $produto->getDescricao();?></p>
            <?php 
                $imagem =  $produto->getImagem();
                if($imagem) :
                    $imagem = str_replace(APPLICATION_PATH. "/../public", "", $imagem);
                ?>
            <p><img src='<?php echo $imagem; ?>' width="300px" /> </p>
            <?php
                endif;
            ?>
            <input type="text" size="3" id="produto-<?php echo $produto->getId();?>" value="1" />
            <button id="botao-produto-<?php echo $produto->getId();?>" class="botao-carrinho">Adicionar ao carrinho</button>
            <hr />
        </div>
    <?php endforeach; ?>
<?php endif; ?>

<?php echo $this->paginationControl($this->paginator, 'Sliding', '_partial/paginacao.phtml');?>

