<?php if($this->erro) :?>
    <br />
    <p>Se já possui conta efetue o login</p>
    <?php echo $this->form_login;?>
    <br />
    <p>Caso não tenha cadastro </p>
    <?php echo $this->form_usuario;?>
<?php else: ?>
    <br />
    <h2><?php echo $this->mensagem; ?></h2>
<?php endif; ?>
