<?php if($this->erro) : ?>
<br />
<h2>Favor efetuar o login!</h2>
<?php else: 
    
if($this->arr_pedidos) : ?>
<br />
<h2>Pedidos</h2>
<table border="1">

<?php foreach($this->arr_pedidos as $pedido) : ?>
<tbody>
    <tr>
        <td>Pedido número: <?php echo $pedido->getId(); ?></td>
        <td>Data criação: <?php echo $pedido->getDataCriacao()->format('d/m/Y'); ?></td>
        <td>
            <?php 
                $produtos = \Ecommerce\Model\Produto::findPedidoProdutoByPedidoId($pedido->getId());
                if($produtos) : ?>
            <table border='1'>            
            <?php foreach($produtos as $produto) : ?>
                <tr>
                    <td>Produto: <?php echo $produto->nome; ?></td>
                    <td>Quantidade: <?php echo $produto->quantidade; ?></td>
                    <td>Preço: <?php echo $produto->preco; ?></td>
                </tr>  
            <?php endforeach; ?>
            </table>
            <?php endif;
            ?>
        </td>
    </tr>
</tbody>    
<?php endforeach; ?>

</table>
<?php 
endif;
    
?>

<?php endif; ?>

