<br />
<br />
<?php

if($this->carrinho) :
    $total = 0;
?>
<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Qtd</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
<?php
    foreach($this->carrinho as $carrinho) : 
        $total += $carrinho['qtd'] * $carrinho['produto']->getPreco();
        ?>
        <tr>
            <td><?php echo $carrinho['produto']->getNome();?></td>
            <td><?php echo $carrinho['produto']->getPreco();?></td>
            <td><?php echo $carrinho['qtd'];?></td>
            <td>&nbsp;</td>
        </tr>
<?php
    endforeach;
?>
        <tr>
            <td colspan="3"></td>
            <td><?php echo number_format($total, 2, ',', '.'); ?></td>
        </tr>
    </tbody>
</table>
<br />
<a href="/site/index/fecharpedido">Fechar pedido</a>
<?php
else :
    echo '<h1>Nenhum produto no carrinho</h1>';
endif;