<a href="produto/cadastrar">Cadastrar</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Data Criação</th>
            <th>Data Alteracao</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->arr_produtos) && !empty($this->arr_produtos)): ?>
    <?php foreach($this->arr_produtos as $produto): ?>
    
        <tr>
            <td><?php echo $produto->getId(); ?></td>
            <td><?php echo $produto->getNome(); ?></td>
            <td><?php echo $produto->getPreco(); ?></td>
            <td><?php echo $produto->getDataCriacao()->format('d/m/Y H:i:s'); ?></td>
            <td><?php echo $produto->getDataAlteracao()->format('d/m/Y H:i:s'); ?></td>
            <td><a href='produto/cadastrar/id/<?php echo $produto->getId(); ?>'>Editar</a></td>
        </tr>
    
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>

