<?php if ($this->pageCount > 1): ?>
    <div id="paginacao" class="paginacao">
        <?php if (isset($this->previous)): ?> 
            <a class="pagina-anterior" href="?pag=<?php echo $this->previous; ?>" ><?php echo $this->translate("_partial-botaoanterior"); ?></a>  <!-- ?pag=<?php // echo $this->previous;  ?> -->
        <?php else: ?> 
            <a class="pagina-anterior desativado"><?php echo $this->translate("_partial-botaoanterior"); ?></a>
        <?php endif; ?> 
        <?php foreach ($this->pagesInRange as $page): ?> 
            <?php if ($page != $this->current): ?>
                <a class="paginacaoBtn" href="?pag=<?php echo $page; ?>" ><?php echo $page; ?></a>
            <?php else: ?>
                <span class="paginacaoBtnAtivo"><?php echo $page; ?></span>
            <?php endif; ?>
        <?php endforeach; ?>

        <?php if (isset($this->next)): ?> 
            <a class="proxima-pagina" href="?pag=<?php echo $this->next; ?>"  ><?php echo $this->translate("_partial-botaoproxima"); ?></a> <!-- ?pag=<?php // echo $this->next;  ?>  -->
        <?php else: ?>
            <a class="proxima-pagina desativado"><?php echo $this->translate("_partial-botaoproxima"); ?></a>
        <?php endif; ?> 

    </div>
<?php endif; ?>


