<style>
    #menu-admin li {list-style-type: none; float: left; padding-right: 5px;}
</style>
<?php 
    $auth = Zend_Auth::getInstance();
    if ($auth->hasIdentity()) : 
        $user = $auth->getIdentity();
    endif;
?>
<?php if(isset($user)) :?>
<div>
    <ul id="menu-admin">
        <li><a href="/admin/usuario">Usuários</a></li>
        <li><a href="/admin/categoria">Categorias</a></li>
        <li><a href="/admin/produto">Produtos</a></li>
        <li><a href="/admin/pedido">Pedidos</a></li>
        <li><a href="/admin/index/logout">Sair</a></li>
    </ul>
</div> 
<?php endif; ?>
<br clear="all" />
<br clear="all" />