
            <a class="navbar-brand" href="/">Ecommerce Teste</a> | 
            <a class="navbar-brand" href="/site/index/buscar">Buscar</a> | 
            <a class="navbar-brand" href="/site/index/visualizarcarrinho">Visualizar Carrinho</a> |
            <a class="navbar-brand" href="/site/index/visualizarpedido">Visualizar Pedidos</a> |
            <a class="navbar-brand" href="/site/index/logout">Logout</a>
        <?php 
            $auth = Zend_Auth::getInstance();
            if ($auth->hasIdentity()) : 
                $user = $auth->getIdentity();
            endif;
        ?>
        
        <div >
            <?php if(!isset($user)) :?>
            <form id="form-login" class="navbar-form navbar-right" role="form" >
                <div class="form-group">
                    <input type="text" placeholder="Email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" id="password"  class="form-control">
                </div>
                <button type="button" name="btn_sigin" id="btn_sigin" class="btn btn-success">Sign in</button>
            </form>
            <?php else :?>
            <div class="navbar-right" >
                <p align="rigth" id="bem-vindo" sytle="display:none" style="color: #000;">Bem vindo <span id="name-user"><?php echo $user->getNome(); ?></span></p>
            </div>
            <?php endif; ?>
        </div><!--/.navbar-collapse -->
    </div>
</nav>