<style>
    #menu-site li {list-style-type: none; float: left; padding-right: 5px;}
</style>

<div>
    <h2>Categorias</h2>
    <?php
    $arr_categorias = \Ecommerce\Model\Categoria::listAll();
    ?>
    <ul id="menu-site">
    <?php
    foreach($arr_categorias as $categoria) :
    ?>
        <li><a href="/site/categoria?id=<?php echo $categoria->getId(); ?>"><?php echo $categoria->getNome();?></a></li>
    <?php
    endforeach;
    ?>
    </ul>
</div>