<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <?php echo $this->headTitle(); ?>
</head>    
<body>
    <?php echo $this->partial('_partial/header-admin.phtml');?>
    
    <div>
        <?php echo $this->layout()->content;?>
    </div>

</body>
</html>