<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <?php //echo $this->headScript()->appendFile("/js/bootstrap.min.js"); ?>
  <?php echo $this->headScript()->appendFile("/js/login/login.js"); ?>
  <?php echo $this->headTitle(); ?>
  <?php //echo $this->headLink()->appendStylesheet("/css/bootstrap-theme.min.css"); ?>
  <?php //echo $this->headLink()->appendStylesheet("/css/bootstrap.min.css"); ?>
</head>
<body>
     <?php echo $this->partial('_partial/header.phtml'); ?>
     <?php echo $this->partial('_partial/menu.phtml'); ?>

    <div class="jumbotron">
        <?php echo $this->layout()->content ?>      
    </div>
    <br clear='all' />

    <?php echo $this->partial('_partial/footer.phtml'); ?>
</body>
</html>