<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuário</th>
            <th>Data Criação</th>
            <th>Data Alteracao</th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->arr_pedidos) && !empty($this->arr_pedidos)): ?>
    <?php foreach($this->arr_pedidos as $pedido): ?>
    <?php 
        $user = \Ecommerce\Model\User::findById($pedido->getUserId());
    ?>
        <tr>
            <td><?php echo $pedido->getId(); ?></td>
            <td><?php echo $user->getNome(); ?></td>
            <td><?php echo $pedido->getDataCriacao()->format('d/m/Y H:i:s'); ?></td>
            <td><?php echo $pedido->getDataAlteracao()->format('d/m/Y H:i:s'); ?></td>
        </tr>
    
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>

