<a href="categoria/cadastrar">Cadastrar</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Data Criação</th>
            <th>Data Alteracao</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->arr_categorias) && !empty($this->arr_categorias)): ?>
    <?php foreach($this->arr_categorias as $categoria): ?>
    
        <tr>
            <td><?php echo $categoria->getId(); ?></td>
            <td><?php echo $categoria->getNome(); ?></td>
            <td><?php echo $categoria->getDataCriacao()->format('d/m/Y H:i:s'); ?></td>
            <td><?php echo $categoria->getDataAlteracao()->format('d/m/Y H:i:s'); ?></td>
            <td><a href='categoria/cadastrar/id/<?php echo $categoria->getId(); ?>'>Editar</a></td>
        </tr>
    
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>

