
<br />
<h1><?php echo $this->categoria->getNome();?></h1>

<?php
if($this->arr_produtos) :
    foreach($this->arr_produtos as $produto) : 
        
?>
        <div>
            <h3><?php echo $produto->getNome();?></h3>
            <p>Preço: <?php echo $produto->getPreco();?></p>
            <p>Descrição: <?php echo $produto->getDescricao();?></p>
            <?php 
                $imagem =  $produto->getImagem();
                if($imagem) :
                    $imagem = str_replace(APPLICATION_PATH. "/../public", "", $imagem);
                ?>
            <p><img src='<?php echo $imagem; ?>' width="300px" /> </p>
            <?php
                endif;
            ?>
            <input type="text" size="3" id="produto-<?php echo $produto->getId();?>" value="1" />
            <button id="botao-produto-<?php echo $produto->getId();?>" class="botao-carrinho">Adicionar ao carrinho</button>
            <hr />
        </div>
<?php
    endforeach;
endif;
?>




