<a href="usuario/cadastrar">Cadastrar</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data Criação</th>
            <th>Data Alteracao</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <?php if(isset($this->arr_users) && !empty($this->arr_users)): ?>
    <?php foreach($this->arr_users as $user): ?>
    
        <tr>
            <td><?php echo $user->getId(); ?></td>
            <td><?php echo $user->getNome(); ?></td>
            <td><?php echo $user->getEmail(); ?></td>
            <td><?php echo $user->getDataCriacao()->format('d/m/Y H:i:s'); ?></td>
            <td><?php echo $user->getDataAlteracao()->format('d/m/Y H:i:s'); ?></td>
            <td><a href='usuario/cadastrar/id/<?php echo $user->getId(); ?>'>Editar</a></td>
        </tr>
    
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>

